<?xml version="1.0" encoding="utf-8"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=301880
	-->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

		<!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ ELMAH ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
		<!--↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ ELMAH ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑-->
		
	</configSections>
	<connectionStrings>
    
    <!--WEB RELEASE-->
    <!--<add name="DefaultConnection" connectionString="Server=23.102.39.91;Database=pekistirec;User Id=pekistirec;Password=P@ssw0rd-2014;" providerName="System.Data.SqlClient" />
		<add name="FtsConnection" connectionString="Server=23.102.39.91;Database=pekistirecfts;User Id=pekistirec;Password=P@ssw0rd-2014;" providerName="System.Data.SqlClient" />
    <add name="StorageConnection" connectionString="DefaultEndpointsProtocol=http;AccountName=pekistirec;AccountKey=KDjRgHZ+yNV2xg5B2e1Bd7JClYJ7qUqOQ5hNr2lpFBrpWnVXfHzt6O8DxMe1GfEJrCgME/NNnyeTOkCkt1tq3Q==" />-->
    
    <!--LOCAL DEBUG-->
    <add name="DefaultConnection" connectionString="Server=.;Database=pekistirec;Initial Catalog=Pekistirec;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="FtsConnection" connectionString="Server=.;Database=pekistirecfts;Initial Catalog=PekistirecFts;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="StorageConnection" connectionString="DefaultEndpointsProtocol=http;AccountName=codemachine;AccountKey=uXSNggOUjRDMlhHRL3K6XZgBJfaVLE9I5+6FtEESe2yxn+bCoVYX/mGDUE3fiQK64lvwcfxF90OqImzY6miX0w==" />    

    <!--WEB DEBUG-->
    <!--<add name="DefaultConnection" connectionString="Server=23.102.39.91;Database=codemachine;User Id=dev;Password=deveninpabucu-2014;" providerName="System.Data.SqlClient" />
		<add name="FtsConnection" connectionString="Server=23.102.39.91;Database=codemachinefts;User Id=dev;Password=deveninpabucu-2014;" providerName="System.Data.SqlClient" />
    <add name="StorageConnection" connectionString="DefaultEndpointsProtocol=http;AccountName=codemachine;AccountKey=uXSNggOUjRDMlhHRL3K6XZgBJfaVLE9I5+6FtEESe2yxn+bCoVYX/mGDUE3fiQK64lvwcfxF90OqImzY6miX0w==" />-->
       

  </connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="GoogleAPI:ApiKey" value="AIzaSyDpAH2MDvWRCRo8uM7Y1I5QnDDE-5ZlUBw" />
    <add key="GoogleAPI:Scopes" value="https://www.googleapis.com/auth/drive.file,https://www.googleapis.com/auth/userinfo.email" />
    
    <add key="FacebookResponseType" value="code" />
		<add key="FacebookScope" value="email" />    
    
    <!--LOCAL DEBUG-->
		<add key="FacebookAppId" value="205188796332646" />
		<add key="FacebookAppSecret" value="fff8701519c4f719f01256db26ef3141" />
		<add key="FacebookRedirectUrl" value="http://localhost:1976/account/FbCallback" />

		<add key="GoogleAPI:ClientId" value="351495336618.apps.googleusercontent.com" />
		<add key="GoogleAPI:ClientSecret" value="BUu6befbdCTGyQ1TGTI-j7vq" />		
		<add key="GoogleAPI:RedirectUri" value="http://localhost:1976/Account/GoogleCallback" />
    
    <!--WEB DEBUG-->
    <!--<add key="FacebookAppId" value="1474224309506648" />
		<add key="FacebookAppSecret" value="b3139a8e742652f2062ad975a1ac14cf" />
		<add key="FacebookRedirectUrl" value="http://codemachine.org/account/FbCallback" />
    
    <add key="GoogleAPI:ClientId" value="351495336618-vjeprqsffcesjsmn757os03vjdga38c1.apps.googleusercontent.com" />
		<add key="GoogleAPI:ClientSecret" value="rI7g0KN-uaewUU_PmU8eppx3" />		
		<add key="GoogleAPI:RedirectUri" value="http://codemachine.org/Account/GoogleCallback" />-->
    
		


		<!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ ELMAH ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
		<add key="elmah.mvc.disableHandler" value="false" />
		<add key="elmah.mvc.disableHandleErrorFilter" value="false" />
		<add key="elmah.mvc.requiresAuthentication" value="false" />
		<add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
		<add key="elmah.mvc.allowedRoles" value="Admin" />
		<add key="elmah.mvc.allowedUsers" value="admin" />
		<add key="elmah.mvc.route" value="elmah" />
		<!--↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ ELMAH ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑-->

	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
		</httpModules></system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Spatial" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<interceptors>
			<interceptor type="DataLayer.SoftDeleteInterceptor, DataLayer" />
		</interceptors>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
<system.webServer>
	<!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ ELMAH ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
	<validation validateIntegratedModeConfiguration="false" />
	<modules>
		<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
		<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
		<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
	</modules>
	<!--↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ ELMAH ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑-->
	</system.webServer>
	<!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ ELMAH ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
	<elmah>
		<security allowRemoteAccess="0" />
		<errorLog type="ElmahErrorLog.TableErrorLog, ElmahErrorLog" />
	</elmah>
	<!--↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ ELMAH ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑-->
</configuration>
