<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <!--<connectionStrings xdt:Transform="Replace">    
    --><!--RELEASE--><!--
    <add name="DefaultConnection" connectionString="Server=23.102.39.91;Database=pekistirec;User Id=pekistirec;Password=P@ssw0rd-2014;" providerName="System.Data.SqlClient" />
		<add name="FtsConnection" connectionString="Server=23.102.39.91;Database=pekistirecfts;User Id=pekistirec;Password=P@ssw0rd-2014;" providerName="System.Data.SqlClient" />
    <add name="StorageConnection" connectionString="DefaultEndpointsProtocol=http;AccountName=pekistirec;AccountKey=KDjRgHZ+yNV2xg5B2e1Bd7JClYJ7qUqOQ5hNr2lpFBrpWnVXfHzt6O8DxMe1GfEJrCgME/NNnyeTOkCkt1tq3Q==" />

  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="GoogleAPI:ApiKey" value="AIzaSyDpAH2MDvWRCRo8uM7Y1I5QnDDE-5ZlUBw" />
    <add key="GoogleAPI:Scopes" value="https://www.googleapis.com/auth/drive.file,https://www.googleapis.com/auth/userinfo.email" />

    <add key="FacebookResponseType" value="code" />
    <add key="FacebookScope" value="email" />
  

    --><!--RELEASE--><!--
    <add key="FacebookAppId" value="285801978237477" />
		<add key="FacebookAppSecret" value="9a419597c8be3235268964d5f785641e" />
		<add key="FacebookRedirectUrl" value="http://pekistirec.net/account/FbCallback" />
    
    <add key="GoogleAPI:ClientId" value="351495336618-kshg2tlr6qbalk94nn5sm89v3m5ar79v.apps.googleusercontent.com" />
		<add key="GoogleAPI:ClientSecret" value="gBeDEE6n2-aQE-mpytRQCZJ5" />		
		<add key="GoogleAPI:RedirectUri" value="http://pekistirec.net/Account/GoogleCallback" />



    --><!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ ELMAH ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓--><!--
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    --><!--↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ ELMAH ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑--><!--

  </appSettings>-->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

</configuration>